{% extends "common/layout.html.twig" %}

{% block body %}

  <h3>Sunday 21-22 contest</h3>

  <p><i>number of appearances in the sunday 21-22 sessions</i></p>

  {% 
  set yearNow = 'now' | date('Y')
  %}

  <div>
    Sessions played per year
    <ul>
    {% for year in 2018..yearNow %}
      {% if arrSessions[year] is defined %}
        <li><b>{{ year }}</b> : {{ arrSessions[year] }}</th>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Player</th>
        {% for year in 2018..yearNow %}
          <th>{{ year }}</th>
        {% endfor %}
        <th>Tot</th>
      </tr>
      <tr>
        <!-- number of players -->
        <th>({{ arrTotPerYear["total"] }} pl.)</th>
        {% for year in 2018..yearNow %}
          <th>({{ arrTotPerYear[year] }} pl.)</th>
        {% endfor %}
        <th>Tot</th>
      </tr>
      {% for id,tot in arrTot %}

        <tr>
          <td><a href="{{ path('player_view', {'id': id}) }}">{{ arrContestData[id]["name"] }}</a></td>
          {%
          for year in 2018..yearNow 
          %}
            <td>
            {% if arrContest[id][year]  is defined %}
              {{ arrContest[id][year] }} ({{ arrContest[id][year ~ "%"] }}%)
            {% endif %}
            </td>
          {% endfor %}
          <td>{{ arrTot[id] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>


{% endblock %}

