{% extends "common/layout.html.twig" %}

{% block body %}
  
  {% if arrSessionAvgRating|length > 0 %}
  <script type="text/javascript">

    $( document ).ready(function() {
      console.log("ready");
      $('#graph').highcharts({
        title: {
            text: 'Rankings evolution for sunday sessions',
            x: -20 //center
        },
        xAxis: {
            categories: [
              {% for date, data in arrSessionAvgRating %}
                "{{ date }}",
              {% endfor %}
            ],
            labels: {
              rotation: -90,
              overflow: "false"
            }
        },
        yAxis: {
          reversed: false,
          min: 600, 
            title: {
                text: 'points'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        
        tooltip: {
        },
        series: [{ 
          name:"Average", 
          data: [
            {% for date, data in arrSessionAvgRating %}
              {{ data["avgRat"]|number_format(1, '.', '') }},
            {% endfor %}
          ]
          }
        ]
      });
    });
    
  </script>
  {% endif %}


  <h3>Sunday 21-22 contest</h3>

  <p><i>number of appearances in the sunday 21-22 sessions</i></p>

  {% 
  set yearNow = 'now' | date('Y')
  %}

  <div>
    Sessions played per year
    <ul>
    {% for year in 2018..yearNow %}
      {% if arrSessions[year] is defined %}
        <li><b>{{ year }}</b> : {{ arrSessions[year] }}</th>
      {% endif %}
    {% endfor %}
    </ul>
  </div>


  <div id="graph" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Player</th>
        {% for year in 2018..yearNow %}
          <th>{{ year }}</th>
        {% endfor %}
        <th>Tot</th>
      </tr>
      <tr>
        <!-- number of players -->
        <th>({{ arrTotPerYear["total"] }} pl.)</th>
        {% for year in 2018..yearNow %}
          <th>({{ arrTotPerYear[year] }} pl.)</th>
        {% endfor %}
        <th>Tot</th>
      </tr>
      {% for id,tot in arrTot %}

        <tr>
          <td><a href="{{ path('player_view', {'id': id}) }}">{{ arrContestData[id]["name"] }}</a></td>
          {%
          for year in 2018..yearNow 
          %}
            <td>
            {% if arrContest[id][year]  is defined %}
              {{ arrContest[id][year] }} ({{ arrContest[id][year ~ "%"] }}%)
            {% endif %}
            </td>
          {% endfor %}
          <td>{{ arrTot[id] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>


{% endblock %}

