{% extends "common/layout.html.twig" %}

{% block body %}

  <h1>The summer tournament 2022 !</h3>


  <h3>Last update, 2022-05-22 11:30</h3>

  <p><a href="{{ path('matchs_list_longtournament', {'year':2022, 'maxpage':50, 'page':1}) }}">List of the 2022 Matches</a></p>

  <p><a href="#draw">Updated main draw</a></p>
  <p><a href="#subdraw1">Updated subdraw #1</a></p>
  <p><a href="#subdraw2">Updated subdraw #2</a></p>
  <p><a href="#subdraw3">Updated subdraw #3</a></p>
  <p><a href="#subdraw4">Updated subdraw #4</a></p>
  <p><a href="#subdraw5">Updated subdraw #5</a></p>
  <!--
  -->

  <p>You will find here all the infos regarding the new tournament that will take place approximately from week 21 to week 36 at ATL.</p>

  <p><b>To get registered, please drop an email to mathieu@isomail.org, or a text/Whatsapp/Signal message to +46 737 59 88 17 <u>before SUNDAY 22 MAY 2022 23:59</u></b></p>

  <h3>1- Concept</h3>

  <p>Open to anyone, as long as you're ok to join the Stegen system. You basically need a rating, to start in a wave that fits you.</p>

  <p>The idea is to create a tournament with a format inspired by the french/swiss system, to avoid too uneven matches. The lower ranked players start the first, and then every round, a new "wave" of better players is joining the draw. A round could last 1 to 3 weeks (see the calendar section).</p>

  <p><b>Players self organize their matches.</b> Which means that you receive the contact info of your opponent, and then have 1 week (or more) to play your match. You can play indoors or outdors. You book 1 hour and play your match, according to the format described in the section below, and report it. In case you and your opponent disagree about the surface (indoor hard or outdoor clay), priority is given to the lower ranked player ;-)</p>

  <p><b>Please make sure to contact your opponent as soon as you know his/her identity</b>, it could take time to agree on a spot and to find an available court. Please double check the weather forecast as well ! In case you don't have any answer from your opponent, please contact me !</p>

  <h3>2- Fees</h3>

  <p>=> No fee <=</p>
  <p><b>It doesn't mean that it's ok to withdraw at the last minute !</b> Please think about the draw makers ;-)</p>

  <h3>3- Calendar</h3>

  <p>Hard to predict how many players will register. Let's aim for 45 this year.</p>

  <p>We will have several waves of players entering the draw : 16 players the 1st round (8 matches), 8 more the 2nd round who will meet the winners of the first rounds, etc until the final 8 the last round. And then 3 more rounds for the QF, SF and F.</p>

  <p>Once you lose a match, you can enter a subdraw, including all the other players who lost at the same round.</p>

  <p>Please find below a planned calendar, based on an estimation of 45 players registered. To help you to know when you would enter the draw, i specified the average rating for every wave. <b>Keep in mind that it's only an estimation</b>, it may change if more/less players are joining.</p>


  <ul>
    <li>v21-22 : 1st round (players ranked between 400 and 700 pts)</li>
    <li>v23-24 : 2nd round (ratings 700-800pts) + subdraw#1</li>
    <li>v25-27 : 3rd round (ratings 800-900pts) + subdraw#1-2</li>
    <li>v28-30 : 4th round (ratings 900-1000pts) + subdraw#1-2-3</li>
    <li>v31-32 : 5th round (ratings 1000 and above) + subdraw#1-2-3-4</li>
    <li>v33-34 : 6th round (quaterfinals) + subdraw#1-2-3-4-5</li>
    <li>v35 : 7th round (semifinals) + subraws</li>
    <li>v36 : 7th round (final) + subraws</li>
  </ul>
 
  <p style="text-align:center"><img src="{{ asset('img/2022_summer_tournament_calendar.png') }}"></p>
 
  <h3>4- Match format</h3>

  <p>Players self organize their match and book (and share the price) 1 hour. The match ends at the end of the hour. Please bring your own balls. In case you disagree on the balls to choose, priority is given (again) to the lower ranked player ;-))<p>

  <p>We count games until the end of the match</p>
  <p>The big question is : when do we stop the match to make sure that we have a winner at the end of the hour, instead of a tie or a fight ? Here is the best way to proceed :</p> 

  <ul>
    <li>Please make sure with your opponent <b>before the match starts</b> that you are both on the same page, to avoid discussions in the end</li>
    <li><b>The match stops the moment a game ends after XX:55</b> (5 minutes before the end of the booked time, or 8 if you play on clay to include the time to clean the court).</li>
    <li><b>If it's a tie, then you use the final minutes to play a tie-break</b>. First to 5. Toss the server at 4-4 to decide who will serve for the golden point !</li>
  </ul>

  <p>If it's unclear, please contact me and I'll try to reexplain it in a better way :)</p>

  <h3>5- Main draw + subdraws</h3>

  <p style="text-align:center; width:900px" id="draw"><img src="{{ asset('img/2022_summer_tournament_main.png') }}"></p>
  <p style="text-align:center; width:600px" id="subdraw1"><img src="{{ asset('img/2022_summer_tournament_subdraw1.png') }}"></p>
  <p style="text-align:center; width:600px" id="subdraw2"><img src="{{ asset('img/2022_summer_tournament_subdraw2.png') }}"></p>
  <p style="text-align:center; width:600px" id="subdraw3"><img src="{{ asset('img/2022_summer_tournament_subdraw3.png') }}"></p>
  <p style="text-align:center; width:600px" id="subdraw4"><img src="{{ asset('img/2022_summer_tournament_subdraw4.png') }}"></p>
  <p style="text-align:center"; width:600px id="subdraw5"><img src="{{ asset('img/2022_summer_tournament_subdraw5.png') }}"></p>
<!--
-->

{% endblock %}

