{% extends "common/layout.html.twig" %}

{% block body %}

  <h3>Head-2-head {{ player1.nameshort }} / {{ player2.nameshort }}</h3>

  <p>Recap: {{ player1.nameshort }}  <b>{{ recapRt["W"] }}</b>   -    <b>{{ recapRt["D"] }}</b> {{ player2.nameshort }} (<b>{{ recapRt["T"] }}</b> tie(s))</p>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>#</th>
        <th>{{ knp_pagination_sortable(listMatchs, 'Date', 'm.date') }}</th>
        <th>Player1</th>
        <th>Player2</th>
        <th>Score</th>
        <th>{{ knp_pagination_sortable(listMatchs, 'Context', 'm.context') }}</th>
        <th>{{ knp_pagination_sortable(listMatchs, 'Conditions', 'm.conditions') }}</th>
        <th>Evol</th>
      </tr>

      {% set ind = 1 %}

      {% for match in listMatchs %}
        <tr>
          <td>{{ ind }}</td>
          <td>{{ match.date|date("Y-m-d") }}</td>
          {% if match.tie!=1 %}
            <td class="winner-player">
          {% else %}
            <td>
          {% endif %}
          <a href="{{ path('player_view', {'id':match.idplayer1.id}) }}">{{ match.idplayer1.nameshort }}</a></td>
          <td><a href="{{ path('player_view', {'id':match.idplayer2.id}) }}">{{ match.idplayer2.nameshort }}</a></td>
          <td>{{ match.score }}</td>
          <td>{{ match.context }}</td>
          <td class="cond-{{ match.conditions|replace({' ': ''}) }}">{{ match.conditions }}</td>
          <td>{{ arrMEvol[match.id] }}</td>
        </tr>
        {% set ind = ind +1 %}
      {% endfor %}
    </table>
  </div>


{% endblock %}

