<h3>View player {{ player.namelong }}</h3>

<div>
	<label>Name</label>
	{{ player.namelong }}
</div>

<div>
  {% if lastRTS is defined and lastRTS.position != "-" %}
  <label>Rankings Tennis (single)</label>
  #{{ lastRTS.position }} - {{ lastRTS.score|number_format(0, ',', '') }}pts<br>
  {% endif %}
  {% if lastRTD is defined and lastRTD.position != "-" %}
  <label>Rankings Tennis (double)</label>
  #{{ lastRTD.position }} - {{ lastRTD.score|number_format(0, ',', '') }}pts<br>
  {% endif %}
  {% if lastRP is defined and lastRP.position != "-" %}
  <label>Rankings Padel</label>
  #{{ lastRP.position }} - {{ lastRP.score|number_format(0, ',', '') }}pts<br>
  {% endif %}
  {% if lastR is defined and lastR.position != "-" %}
  <label>Rankings</label>
  #{{ lastR.position }} - {{ lastR.score|number_format(0, ',', '') }}pts<br>
  {% endif %}  
</div>
{# 	<div>
	<label>Name short</label>
	{{ player.nameshort }}
</div> #}

{# 	<div>
	<label>Birthdate</label>
	{{ player.birthdate|format("YYYY-mm-dd") }}
</div> #}

<ul class="tab_menu">
  <li><a href="{{ path('player_view', {'id':player.id}) }}">Statistics</a></li>
  <li><a href="{{ path('player_view_matches', {'id':player.id, 'page': 1}) }}">Tennis SINGLE Matches</a></li>
  <li><a href="{{ path('player_view_matches_double', {'id':player.id, 'page': 1}) }}">Tennis DOUBLE Matches</a></li>
  <li><a href="{{ path('player_view_matches_padel', {'id':player.id, 'page': 1}) }}">Padel Matches</a></li>
  <li><a href="{{ path('player_view_evolution', {'id':player.id}) }}">Rankings Evolution</a></li>
</ul>