{% extends "common/layout.html.twig" %}

<script type="text/javascript">
	$(function () {
    $('#graph').highcharts({
        title: {
            text: 'Rankings evolution',
            x: -20 //center
        },
        xAxis: {
            categories: ["A", "B"
            /*<?php 
            foreach ($tabDatePos as $date => $pos) echo '"'.$date.'", ';
            ?>*/],
            labels: {
            	rotation: -90,
            	overflow: "false"
            }
        },
        yAxis: {
        	reversed: false,
        	min: 1, 
            title: {
                text: 'points'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        
        tooltip: {
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{ 
        	name:"evol", 
        	data: [
        		1000, 980
        	}
       ]
    });
});
</script>

{% block body %}

  <h3>View player {{ player.namelong }}</h3>

  <div>
  	<label>Name</label>
  	{{ player.namelong }}
  </div>

  <div>
    <label>Rankings</label>
    #{{ lastR.position }} - {{ lastR.score|number_format(0, ',', '') }}pts
  </div>

  <ul class="tab_menu">
    <li><a href="{{ path('player_view', {'id':player.id}) }}">Opponents</a></li>
    <li class="tab_selected"><a href="{{ path('player_view_matches', {'id':player.id}) }}">Matches</a></li>
    <li><a href="{{ path('player_view_evolution', {'id':player.id}) }}">Rankings Evolution</a></li>
  </ul>

  <div id="graph" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
	
{% endblock %}

