
{% extends "common/layout.html.twig" %}

{% block body %}

  {% include "site/player_header.html.twig" %}


  {% if nbMTot >0 %}
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Year</th>
          <th class="cond-hardindoor" colspan=5>Hard Indoors (W-T-D-Tot-%Def)</th>
          <th class="cond-clayoutdoor" colspan=5>Clay outdoors (W-T-D-Tot-%Def)</th>
        </tr>

        {% for annee, hist in arrHistoryM %}
          <tr>
            <td>{{ annee }}</td>
            {% for condDet, histDet in hist %}
              <td>{{ histDet["nbW"] }}</td>
              <td>{{ histDet["nbT"] }}</td>
              <td>{{ histDet["nbD"] }}</td>
              <td>{{ histDet["nbM"] }}</td>
              <td>
              {% if histDet["nbM"] != 0 %}
                {{ (histDet["nbD"]*100/histDet["nbM"])|number_format(1, '.', '') }}%
              {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}

  {% if arrStatsOpponents|length >0 %}

  	<h3>Stats {{ arrStatsOpponents|length }} opponent(s) - {{ nbMTot }} match(s)</h3>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Player</th>
          <th>Wins</th>
          <th>Ties</th>
          <th>Def.</th>
          <th>Tot</th>
          <th>Details</th>
        </tr>

        {% for opp in arrStatsOpponents %}
          <tr>
            <td><a href="{{ path('player_view', {'id':opp.id}) }}">{{ opp.name }}</a></td>
            <td>{{ opp.nbW }}</td>
            <td>{{ opp.nbT }}</td>
            <td>{{ opp.nbD }}</td>
            {% if opp.sold > 0 %}
              <td class="sold-positiv">
            {% elseif opp.sold < 0 %}
              <td class="sold-negativ">
            {% else %}
              <td> 
            {% endif %} 
            <b>{{ opp.nbM }}</b></td>
            <td><a href="{{ path('matchs_h2h', {'idplayer1':player.id, 'idplayer2':opp.id}) }}">H2H</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}