
{% extends "common/layout.html.twig" %}

{% block body %}

  <h3>View player {{ player.namelong }}</h3>

  <div>
  	<label>Name</label>
  	{{ player.namelong }}
  </div>

  <div>
    <label>Rankings</label>
    #{{ lastR.position }} - {{ lastR.score|number_format(0, ',', '') }}pts
  </div>
{# 	<div>
  	<label>Name short</label>
  	{{ player.nameshort }}
  </div> #}

{# 	<div>
  	<label>Birthdate</label>
  	{{ player.birthdate|format("YYYY-mm-dd") }}
  </div> #}

	<div>
  	<label>Level</label>
  	{{ player.level }}
  </div>    

  <ul class="tab_menu">
    <li class="tab_selected"><a href="{{ path('player_view', {'id':player.id}) }}">Opponents</a></li>
    <li><a href="{{ path('player_view_matches', {'id':player.id}) }}">Matches</a></li>
    <li><a href="{{ path('player_view_evolution', {'id':player.id}) }}">Rankings Evolution</a></li>
  </ul>

  {% if arrStatsOpponents|length >0 %}

  	<h3>Stats {{ arrStatsOpponents|length }} opponent(s) - {{ nbMTot }} match(s)</h3>
      <table class="table">
      <tr>
        <th>Player</th>
        <th>Wins</th>
        <th>Def.</th>
        <th>Ties</th>
        <th>Tot</th>
      </tr>

      {% for opp in arrStatsOpponents %}
        <tr>
          <td><a href="{{ path('player_view', {'id':opp.id}) }}">{{ opp.name }}</a></td>
          <td>{{ opp.nbW }}</td>
          <td>{{ opp.nbD }}</td>
          <td>{{ opp.nbT }}</td>
          {% if opp.sold > 0 %}
            <td class="sold-positiv">
          {% elseif opp.sold < 0 %}
            <td class="sold-negativ">
          {% else %}
            <td> 
          {% endif %} 
          <b>{{ opp.nbM }}</b></td>
                    
          
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}