{% extends "common/layout.html.twig" %}

{% block body %}

  <h3>List Rabbits ({{ listRabbits|length }})</h3>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>#</th>
        <th>name</th>
        <th>1st owner</th>
        <th>current owner</th>
        <th>nbPts</th>
        <th>in game ?</th>
        {% if is_granted('ROLE_ADMIN') %} 
        <th>action</th>
        {% endif %}
      </tr>
      {% for rabbit in listRabbits %}

        <tr>
          <td>{{ rabbit.id }}</td>
          <td>{{ rabbit.namerabbit }}</td>
          <td><a href="{{ path('player_view', {'id':rabbit.idplayerfirst.id}) }}">{{ rabbit.idplayerfirst.nameshort }}</a></td>
          <td class="winner-player"><a href="{{ path('player_view', {'id':rabbit.idplayerlast.id}) }}">{{ rabbit.idplayerlast.nameshort }}</a></td>
          <td>{{ rabbit.nbpts }}</td>
          <td>{% if rabbit.isover %}WON !{% else %}yes{% endif %}</td>
          {% if is_granted('ROLE_ADMIN') %} 
          <td><a href="{{ path('rabbit_update', {'id':rabbit.id}) }}">update</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

