{% extends "common/layout.html.twig" %}

{% block body %}

  <h3>Race to Lund 2020 Slutspel ! </h3>

  <p>SlutSpel 2020 will take place the 25th of April of 2020. 16 spots available for Stegen players. Priority is given to those who have played the most Stegen matches ;-)</p> 

  <p><i>Information about the tournament can be found <a href="http://atllund.se/aktuellt/slutspel-i-stegen/" target="_blank">here</a></i></p>

  <p><i><a href="{{ path('matchs_list_slutspel', {'year':2019, 'maxpage':50, 'page':1}) }}">2019 matches</a> and <a href="http://atllund.se/nyhet/mathieu-mastare-i-stegen/" target="_blank">ATL's recap</a></i></p>


  <table class="table">
    <tr>
      <th>#</th>
      <th>Player</th>
      <th>Since SlutSpel 2019</th>
      <th>Tot</th>
    </tr>
    {% for i,data in arrRaceTot %}
      <tr>
         <td>{{ i+1 }}</td>
        <td><a href="{{ path('player_view', {'id': data["idP"]}) }}">{{ data["name"] }}</a></td>
        <td>{{ data["lastyear"] }}</td>
        <td>{{ data["tot"] }}</td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}

