{% form_theme form 'bootstrap/bootstrap_4_layout.html.twig' %}

  {% extends "common/layout.html.twig" %}

  {% block body %}

    <h3>View Rankings Padel</h3>

    <div class="form">
      {{ form(form) }}
    </div>

    
    {% if detailsRankings|length >0 %}

      <h3>Rankings {{ ranking.date|date("Y-m-d") }}</h3>

      <div class="table-responsive">
        <table class="table">
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Rating</th>
          <th>Evol</th>
          <th>W</th>
          <th>T</th>
          <th>D</th>
          <th>Total</th>
        </tr>

        {% set rank = 1 %}
        {% for det in detailsRankings %}

          {% if activeOnly==1 and det.idplayer.activepaddle == 0 %}
          {% else %}

            {% if det.idplayer.activepaddle == 1 %}
            <tr>
            {% else %}
            <tr class="inactive-player">
            {% endif %}
              <td>{{ rank }}</td>
              <td><a href="{{ path('player_view', {'id':det.idplayer.id}) }}">{{ det.idplayer.nameshort }}</a></td>
              <td><b>
                {% if detailsPlayer[det.idplayer.id]["best"]|number_format(0, '.', ' ') == det.score|number_format(0, '.', ' ') %}<span style="color:#FF1493">{% endif %}
                {{ det.score|number_format(0, '.', ' ') }}
              </b></td>
              <td>{{ detailsPlayer[det.idplayer.id]["evol"] }}</td>
              <td>{{ detailsPlayer[det.idplayer.id]["wins"]|default("0") }}</td>
              <td>{{ detailsPlayer[det.idplayer.id]["ties"]|default("0") }}</td>
              <td>{{ detailsPlayer[det.idplayer.id]["defeats"]|default("0") }}</td>
              <td>{{ detailsPlayer[det.idplayer.id]["wins"]|default("0") + detailsPlayer[det.idplayer.id]["ties"]|default("0") + detailsPlayer[det.idplayer.id]["defeats"]|default("0") }}</td>
            </tr>

            {% set rank = rank + 1 %}
          {% endif %}
        {% endfor %}

        {% if arrTotal|length >0 %}
          <tr>
            <th></th>
            <th></th>
            <th>{{ arrTotal["score"]|number_format(0, '.', ' ') }}</th>
            <th>{{ arrTotal["evolscore"]|number_format(0, '.', ' ') }}</th>
            <th>{{ arrTotal["wins"] }}</th>
            <th>{{ arrTotal["ties"] }}</th>
            <th>{{ arrTotal["defeats"] }}</th>
            <th>{{ arrTotal["total"] }}</th>
          </tr>
        {% endif %}

        </table>
      </div>
      
      <p class="inactive-player"><i>Inactive player</i></p>
      <p><span style="color:#FF1493">best rating ever for the player</span></p> 
      <p><i>W: wins - D: defeats - T: ties</i></p>
    {% endif %}
  {% endblock %}

