{% extends "common/layout.html.twig" %}

{% block body %}

  <h1>The summer tournaments 2025 !</h3>

  <p><i>Last update, 2025-05-19 08:42</i></p>

  <p><a href="{{ path('matchs_list_longtournament', {'year':2024, 'maxpage':50, 'page':1}) }}">List of the 2024 Matches</a></p>
  <p><a href="{{ path('matchs_list_longtournament', {'year':2023, 'maxpage':50, 'page':1}) }}">List of the 2023 Matches</a></p>
  <p><a href="{{ path('matchs_list_longtournament', {'year':2022, 'maxpage':50, 'page':1}) }}">List of the 2022 Matches</a></p>
  
  <h3>Rules</h3>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2025_summer_tournaments.png') }}"></p>

  <h3>June 2025 - 40 players - 5 draws</h3>

  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2025_june_draw1.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2025_june_draw2.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2025_june_draw3.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2025_june_draw4.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2025_june_draw5.png') }}"></p>


{% endblock %}

