{% extends "common/layout.html.twig" %}

{% block body %}

  <h1>The summer tournaments 2024 !</h3>

  <p><i>Last update, 2024-06-01 17:56</i></p>

  <p><a href="{{ path('matchs_list_longtournament', {'year':2023, 'maxpage':50, 'page':1}) }}">List of the 2023 Matches</a></p>
  <p><a href="{{ path('matchs_list_longtournament', {'year':2022, 'maxpage':50, 'page':1}) }}">List of the 2022 Matches</a></p>
  
  <h3>Rules</h3>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2024_summer_tournaments.png') }}"></p>


  <h3>June 2024 - 32 players - 4 draws</h3>

  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2024_june_draw1.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2024_june_draw2.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2024_june_draw3.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2024_june_draw4.png') }}"></p>


{% endblock %}

