{% extends "common/layout.html.twig" %}

{% block body %}
  <h1>Tennis homepage</h1>

  <h3>Big figures</h3>

  <p><i>Total number of single matches per context och per year</i></p>

  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>Context</th>
        {% for yr in years %}
          <th>{{ yr }}</th>
        {% endfor %}
 	      <th>TOTAL</th>
	    </tr>

			{% for context,valYr in genericStatsNbMatchs %}
				<tr>
	        <th>{{ context }}</th>
	        {% for yr in years %}
	          <td>{{ valYr[yr] }}</td>
	        {% endfor %}
        	<th>{{ valYr.alltime }}</th>

				</tr>

			{% endfor %}
		</table>
	</div>  

  <p><i>Number of different players playing at least one match per year</i></p>

  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>Context</th>
        {% for yr in years %}
          <th>{{ yr }}</th>
        {% endfor %}
	      <th>TOTAL</th>
	    </tr>

			<tr>
        <th>Nb players</th>
        {% for yr in years %}
          <td>{{ genericStatsNbPlayers[yr] }}</td>
        {% endfor %}
	      <th>{{ genericStatsNbPlayers.TOTAL }}</th>
			</tr>

		</table>
	</div>  

  <h3>Primary targets for next week!</h3>
  <p><i>Top 3 players of the week</i></p>
  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>#</th>
	      <th>Player</th>
	      <th>Evol</th>
	    </tr>

	    {% set rank = 1 %}
			{% for p in top3TennisPerf %}
				<tr>
					<td>{{ rank }}</td>
	        <td><a href="{{ path('player_view', {'id':p["player"].id}) }}">{{ p["player"].nameshort }}</a></td>
	        <td><b>{{ p["evol"] }}</b></td>

				</tr>

				{% set rank = rank + 1 %}
			{% endfor %}
		</table>
	</div>

	<h3>Blood thirsty, next week is payback time!</h3>
	<p><i>Bottom 3 players of the week</i></p>
  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>#</th>
	      <th>Player</th>
	      <th>Evol</th>
	    </tr>

	    {% set rank = nbEvol %}
			{% for p in last3TennisPerf %}
				<tr>
					<td>{{ rank }}</td>
	        <td><a href="{{ path('player_view', {'id':p["player"].id}) }}">{{ p["player"].nameshort }}</a></td>
	        <td><b>{{ p["evol"] }}</b></td>

				</tr>

				{% set rank = rank - 1 %}
			{% endfor %}
		</table>
	</div>

	<h3>Biggest upsets</h3>
	<p>The maximum you can get from a match is 50pts. Check the <a href="{{ path('simulator') }}">simulator</a> for more details.</p>
	<div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>#</th>
	      <th>Date</th>
	      <th>Winner</th>
	      <th>Player 2</th>
	      <th>Score</th>
	      <th>Context</th>
	      <th>pts evol</th>
	    </tr>

			{% for id, mat in bestUpsets %}
				<tr>
					<td>{{ id+1 }}</td>
	        <td>{{ mat.date }}</td>
	        <td class="winner-player"><a href="{{ path('player_view', {'id':mat.p1.id}) }}">{{ mat.p1.nameshort }}</a></td>
	        <td><a href="{{ path('player_view', {'id':mat.p2.id}) }}">{{ mat.p2.nameshort }}</a></td>
	        <td>{{ mat.score }}</td>
	        <td>{{ mat.context }}</td>
	        <td>{{ mat.ptsEvol|number_format(4) }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>



	<h3>Best series</h3>
	<p><i>Players with at least 5 matchs played during the last 60 days</i></p>
  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>#</th>
	      <th>Player</th>
	      <th>W</th>
	      <th>T</th>
	      <th>D</th>
	      <th>tot</th>
	      <!--<th>score</th>-->
	    </tr>

	    {% set rank = 1 %}
			{% for id, p in rtSeries %}
				<tr>
					<td>{{ rank }}</td>
	        <td><a href="{{ path('player_view', {'id':id}) }}">{{ p["player"].nameshort }}</a></td>
	        <td>{{ p["W"] }}</td>
	        <td>{{ p["T"] }}</td>
	        <td>{{ p["D"] }}</td>
	        <td>{{ p["tot"] }}</td>
	        <!--<td>{{ p["score"] }}</td>-->

				</tr>

				{% set rank = rank + 1 %}
			{% endfor %}
		</table>
	</div>

{% endblock %}