{% extends "common/layout.html.twig" %}

{% block body %}
  <h1>Tennis homepage</h1>

  <h3>Primary targets for next week!</h3>
  <p><i>Top 3 players of the week</i></p>
  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>#</th>
	      <th>Player</th>
	      <th>Evol</th>
	    </tr>

	    {% set rank = 1 %}
			{% for p in top3TennisPerf %}
				<tr>
					<td>{{ rank }}</td>
	        <td><a href="{{ path('player_view', {'id':p["player"].id}) }}">{{ p["player"].nameshort }}</a></td>
	        <td><b>{{ p["evol"] }}</b></td>

				</tr>

				{% set rank = rank + 1 %}
			{% endfor %}
		</table>
	</div>

	<h3>Blood thirsty, next week is payback time!</h3>
	<p><i>Bottom 3 players of the week</i></p>
  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>#</th>
	      <th>Player</th>
	      <th>Evol</th>
	    </tr>

	    {% set rank = nbEvol %}
			{% for p in last3TennisPerf %}
				<tr>
					<td>{{ rank }}</td>
	        <td><a href="{{ path('player_view', {'id':p["player"].id}) }}">{{ p["player"].nameshort }}</a></td>
	        <td><b>{{ p["evol"] }}</b></td>

				</tr>

				{% set rank = rank - 1 %}
			{% endfor %}
		</table>
	</div>


	<h3>Best series</h3>
	<p><i>Players with at least 5 matchs played during the last 60 days</i></p>
  <div class="table-responsive">
	  <table class="table">
	    <tr>
	      <th>#</th>
	      <th>Player</th>
	      <th>W</th>
	      <th>D</th>
	      <th>T</th>
	      <th>tot</th>
	      <!--<th>score</th>-->
	    </tr>

	    {% set rank = 1 %}
			{% for id, p in rtSeries %}
				<tr>
					<td>{{ rank }}</td>
	        <td><a href="{{ path('player_view', {'id':id}) }}">{{ p["player"].nameshort }}</a></td>
	        <td>{{ p["W"] }}</td>
	        <td>{{ p["D"] }}</td>
	        <td>{{ p["T"] }}</td>
	        <td>{{ p["tot"] }}</td>
	        <!--<td>{{ p["score"] }}</td>-->

				</tr>

				{% set rank = rank + 1 %}
			{% endfor %}
		</table>
	</div>

{% endblock %}