  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}ATL Stegen - Tennis / Padel{% endblock %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
  {% endblock %}

  <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ asset('js/highcharts.js') }}"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div id="header" class="jumbotron">
    <div class="container">
      <div>
        <a href="http://www.atllund.se" target="_blank"><img src="{{ asset('img/atl-logo-black.png') }}"></a>
      </div>
      <div id="divTitle">
        <a href="{{ path('homepage') }}" class="headerTitle">Stegen - Tennis / Padel</a>
      </div>
    </div>
  </div>

  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            {% if app.user %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('player_profile_edit') }}">Edit my profile</a></li>
                <li><a href="{{ path('change_password') }}">Change password</a></li>
                <li><a href="{{ path('app_logout') }}">Logout {{ app.user.username }}</a></li>
              </ul>
            </li>
            {% else %}
              <li><a href="{{ path('app_login') }}">Log in</a></li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Infos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('rules_sv') }}">Rules på svenska</a></li>
                <li><a href="{{ path('simulator') }}">Points simulator (single)</a></li>
                <li><a href="{{ path('simulator_double') }}">Points simulator (double)</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TENNIS <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('tennis_index') }}">Stats</a></li>
                <li><a href="{{ path('rankings_view') }}">Single Rankings</a></li>
                <li><a href="{{ path('rankings_double_view') }}">Double Rankings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('matchs_list', {'maxpage':50, 'page':1}) }}">Single Matchs list</a></li>
                <li><a href="{{ path('matchsdouble_list', {'maxpage':50, 'page':1}) }}">Double Matchs list</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('tennis_calendar_events') }}">Calendar / events</a></li>
               
                <!--<li><a href="{{ path('race_slutspel') }}">Race to Lund 2021 Slutspel !</a></li>-->
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The League <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://docs.google.com/spreadsheets/d/193o7RsolU8e86oEfyByBpFHkiM3Tb4ttLdaS_vpBpyk/edit" target="_blank">RESULTS (GDoc)</a></li>
                <li><a href="{{ path('division_league') }}">Infos</a></li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':13, 'maxpage':200, 'page':1}) }}">League Matches - Round#13</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':12, 'maxpage':200, 'page':1}) }}">League Matches - Round#12</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':11, 'maxpage':200, 'page':1}) }}">League Matches - Round#11</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':10, 'maxpage':200, 'page':1}) }}">League Matches - Round#10</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':9, 'maxpage':200, 'page':1}) }}">League Matches - Round#9</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':8, 'maxpage':200, 'page':1}) }}">League Matches - Round#8</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':7, 'maxpage':200, 'page':1}) }}">League Matches - Round#7</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':6, 'maxpage':200, 'page':1}) }}">League Matches - Round#6</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':5, 'maxpage':200, 'page':1}) }}">League Matches - Round#5</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':4, 'maxpage':200, 'page':1}) }}">League Matches - Round#4</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':3, 'maxpage':200, 'page':1}) }}">League Matches - Round#3</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':2, 'maxpage':200, 'page':1}) }}">League Matches - Round#2</a> </li>
                <li><a href="{{ path('matchs_list_divisionleague', {'round':1, 'maxpage':200, 'page':1}) }}">League Matches - Round#1</a> </li>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NEW Rabbits chase <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('rabbit_rules') }}">Rules</a></li>
                <li><a href="{{ path('rabbit_list') }}">List rabbits</a></li>
                <li><a href="{{ path('rabbit_all_matches', {'maxpage':100, 'page':1}) }}">Rabbit-matches</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Summer tournaments <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('summer_tournaments') }}">2024 Tournaments !</a></li>
                <li><a href="{{ path('matchs_list_longtournament', {'year':2024, 'maxpage':150, 'page':1}) }}">2024 matches</a> </li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('summer_longformat_tournament_2023') }}">[2023] Rules + updated draws</a></li>
                <li><a href="{{ path('matchs_list_longtournament', {'year':2023, 'maxpage':100, 'page':1}) }}">[2023] matches</a> </li>
                <li><a href="{{ path('summer_longformat_tournament_2022') }}">[2022] Rules + updated draws</a></li>
                <li><a href="{{ path('matchs_list_longtournament', {'year':2022, 'maxpage':100, 'page':1}) }}">[2022] Matches</a> </li>
                <li><a href="{{ path('longformat_tournament_2021') }}">[2021] Rules + updated draws</a></li>
                <li><a href="{{ path('matchs_list_longtournament', {'year':2021, 'maxpage':100, 'page':1}) }}">[2021] Matches</a> </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PADEL <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('rankings_padel_view') }}">Rankings</a></li>
                <li><a href="{{ path('matchspadel_list', {'maxpage':50, 'page':1}) }}">Matchs list</a></li>
              </ul>
            </li>

            {% if is_granted('ROLE_USER') %} 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('matchs_new') }}">New Tennis Match - single</a></li>
                <li><a href="{{ path('matchsdouble_new') }}">New Tennis Match - double</a></li>
                <li><a href="{{ path('matchspadel_new') }}">New Padel Match</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('matchup_generator') }}">Matchups generator</a></li>
              </ul>
            </li>
            {% endif %}


            {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('rankings_generate_tennis') }}">Generate Tennis SINGLE rankings</a></li>
                <li><a href="{{ path('rankings_generate_double') }}">Generate Tennis DOUBLE rankings</a></li>
                <li><a href="{{ path('rankings_generate_padel') }}">Generate Padel rankings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('player_new') }}">New Player</a></li>
                <li><a href="{{ path('players_list', {'maxpage':50, 'page':1}) }}">Players list</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('user_new') }}">New User</a></li>
                <li><a href="{{ path('user_list') }}">Users list</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('sunday_contest') }}">Sunday 21-22 contest</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('rabbit_new') }}">Generate new rabbit</a></li>
              </ul>
            </li>
            {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="row">
      
      <div>
        {% if app.session.flashbag.peek('success') | length > 0 %} 
          <div class="alert alert-success">
            {% for message in app.session.flashbag.get('success') %}
              <p>[INFO] : {{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% if app.session.flashbag.peek('info') | length > 0 %} 
          <div class="alert alert-info">
            {% for message in app.session.flashbag.get('info') %}
              <p>[NOTICE] : {{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% if app.session.flashbag.peek('error') | length > 0 %} 
          <div class="alert alert-danger">
            {% for message in app.session.flashbag.get('error') %}
              <p>[ERROR] : {{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div id="content" class="col-md-12">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      {% include "common/footer.html.twig" %}
    </footer>
  </div>

  {% block javascripts %}
    
  {% endblock %}

</body>
</html>